# OSX files
.DS_Store

# Gradle Files
.gradle
.m2
.gradletasknamecache

# Build output directories and files
target/
build/
Version.java
logcat.txt

# Eclipse specific files/directories
.classpath
.project
.settings
.metadata
bin/

# IntelliJ specific files/directories
out
.idea
*.ipr
*.iws
*.iml
local.properties

# Crashlytics files
com_crashlytics_export_strings.xml
manifest.txt
crashlytics.keystore.properties
crashlytics-build.properties

# Fabric files
fabric.properties
