# Twitter API key can be obtained at https://apps.twitter.com.
twitterConsumerKey=EDIT_THIS
twitterConsumerSecret=EDIT_THIS

# MoPub AD Unit Id can be obtained at https://app.mopub.com/.
mopubAdUnitId=EDIT_THIS